<div class="container">

    <div class="row">

        <div class="div-col-lg col-lg-12 text-center">

            <div class="div-con-fl container-fluid">

                <div class="row">

                    <div class="div-col-sm col-sm-4 btn btn-success text-center">

                        {{title}}

                    </div>

                    <div class="col-sm" style="text-align: right;">
                        <button class="btn btn-primary" routerLink="/expenses/add">ADD</button> 
                        <!-- <button type="button" class="btn btn-primary">Edit</button> -->
                     </div>
                </div>

            </div>

            <div class="container box" style="margin-top: 40px; width: 270%;">

                <table class="table table-striped table-bordered" style="max-width: 100%;">

                    <thead>

                        <tr class="bg-warning">

                            <th>Item</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Location</th>
                            <th>Spent On</th>
                            <th>Created On</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let entry of expenseEntries" class="bg-success">

                            <td>{{entry.item}}</td>
                            <td>{{entry.amount}}</td>
                            <td>{{entry.category}}</td>
                            <td>{{entry.location}}</td>
                            <td>{{entry.spendOn | date : 'short'}}</td>
                            <td>{{entry.createdOn | date : 'short'}}</td>
                            <td><a routerLink="../expenses/detail/{{entry.id}}">View</a></td>
                            <td><a routerLink="../expenses/edit/{{ entry.id }}">Edit</a></td>
                            <td><a href="#" (click)="deleteExpenseEntry($event, entry.id)">Delete</a></td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>